div class="col s12 m6 l4">
    <div class="card medium">
              <div class="card-image">
                <img src="http://materializecss.com/images/sample-1.jpg">
              </div>
              <div class="card-content">
                <div>
                  <input [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="Date Time">
                  <owl-date-time [pickerMode]="'dialog'" #dt1></owl-date-time>
                </div>
                <div>
                </div>
              </div>
              <div class="card-action">
                  <img class="social-network-icon" src="../assets/icons/facebook.png"/>
                  <img class="social-network-icon" src="../assets/icons/facebook.png"/>
                  <img class="social-network-icon" src="../assets/icons/facebook.png"/>               
              </div>
    </div>
</div>