.card{
   display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
    background-color: rgba(211, 211, 211, 0.5);
    text-align: center;
    cursor: pointer;    
}

.plus-sign{   
    height: 200px;
    width: 200px;
    content: url('/assets/icons/plus.png')
}